%header
  .header-contents
    .header-contents__left
      .header-contents__left--btn
        = link_to root_path do
          = icon('fas', 'home')
          HOME
      .header-contents__left--btn
        = icon('fas', 'user')
        = current_user.name
    .header-contents__right
      .header-contents__right--btn
        = link_to "ログアウト", destroy_user_session_path, method: :delete
      .header-contents__right--btn
        = link_to new_post_path do
          = icon('fas', 'pen')
          投稿する