= render 'header'

.wrapper
  .search-form
    %input.search-form__text-box{type: 'text'}
    %input.search-form__submit-btn{type: 'submit', value: '検索'}
  .contents.index
    .contents__product-name
      りんご
    .contents__image
      = link_to '/posts/show' do
        = image_tag("http://placehold.it/660x400")
    .contents__appeal
      売上金額全店１位！
    .contents__contributor
      店舗/ユーザー名
  .contents.index
    .contents__product-name
      りんご
    .contents__image
      = link_to '/posts/show' do
        = image_tag("http://placehold.it/660x400")
    .contents__appeal
      売上金額全店１位！
    .contents__contributor
      店舗/ユーザー名