= render 'header'
.wrapper
  .title
    .title__product-name
      = @post.product_name
    .title__contributor
      = @post.user.name
  .contents.show-contents
    .show-contents__images
      .show-contents__images--main
        = image_tag @post.image1.url(:thumb)
      .show-contents__images--sub
        = image_tag @post.image2.url(:small)
        = image_tag @post.image3.url(:small)
    .show-contents__point
      ＜ポイント＞
      %br
      = @post.point
    .show-contents__result
      ＜実績＞
      %br
      = @post.result
    .show-contents__appeal
      = @post.appeal
  .comments
    .comments__like-btn
      =icon('far', 'thumbs-up')
      %input{type: 'submit', value: 'いいね！'}
    .comments__form
      %input.comments__form--text-box{type: 'text', value: 'コメントする'}
      %input.comments__form--submit-btn{type: 'submit', value: 'SEND'}
    .comments__comment
      .comments__comment--user-name
        ユーザー名：
      .comments__comment--text
        すごいですね！
    .comments__comment
      .comments__comment--user-name
        ユーザー名：
      .comments__comment--text
        すごいですね！


