= render 'header'
.wrapper
  .title
    .title__product-name
      = @post.product_name
    .title__contributor
      = @post.user.store.name
      店/
      = @post.user.name
  .contents.show-contents
    .show-contents__images
      .show-contents__images--main
        = image_tag @post.image1.url(:thumb)
      .show-contents__images--sub
        = image_tag @post.image2.url(:small)
        = image_tag @post.image3.url(:small)
    .show-contents__point
      ＜ポイント＞
      %br
      = @post.point
    .show-contents__result
      ＜実績＞
      %br
      = @post.result
    .show-contents__appeal
      = @post.appeal
  .comments
    .comments__like-btn
      - if current_user.already_liked?(@post)
        = button_to post_like_path(@post), method: :delete do
          =icon('far', 'thumbs-up')
          いいねを取り消す
      - else
        = button_to post_likes_path(@post) do
          =icon('far', 'thumbs-up')
          いいね
    .comments__form
      = form_with(model: [@post, @comment], local: true) do |form|
        = form.text_area :content, placeholder: "コメントする", rows: "4"
        = form.submit "SEND"
    .comments__comment
      - if @comments
        - @comments.each do |comment|
          .comments__comment--user-name
            = comment.user.name
          .comments__comment--text
            = comment.content
